@model IEnumerable<Assignment_2.ViewModels.TrainerViewModel>
@{

    var model = Model;
}

<h1 style="font-family:'Cambria Math';align-content:center;padding:1%;" class="fa-hourglass-end">
    Trainer Results
</h1>
<tbody class="table table-responsive tableGod" style="background-color:rgb(255 255 255 / 0.00)">
    @foreach (var trainer in model)
    {

    <tr style="background-color:rgb(255 255 255 / 0.00)" class="table table-bordered tableGod" >
        <th scope="row"> @trainer.Id</th>   
        <td style="font-size:140%"><strong>@trainer.FullName</strong><strong> <em>@Html.ActionLink($"Edit {trainer.FirstName}",  "Edit","Trainer", new { Id = trainer.Id }) </em></strong></td>
        <td style="font-size:140%"><strong>@trainer.Address</strong> </td>
        <td style="font-size:140%"> <strong>  @trainer.Age</strong></td>
        <td style="font-size:140%"><strong>@trainer.Details</strong></td>
        <td style="font-size:140%"> <strong>@trainer.EmailAddress</strong></td>
        <td style="font-size:140%"><strong> @trainer.Salary</strong></td>
        <td style="font-size:140%"><strong>@trainer.PhoneNum</strong></td>
        <td style="font-size:140%"><strong>@trainer.Gender</strong></td> 
    </tr>
     

       
 
    }


</tbody>